*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

.parallax{
    background-color: #ebc51e;
    height: max-content;

}

.page-title{
    background: #3B14A7;
    text-align: center;
    color: #fff;
    padding: 20px;
    font-size: 80px;
    letter-spacing: 18px;
    font-family: 'Pangolin', cursive;
}

.menu{
    background: #AC66CC;
    text-align: center;
}

.menu-ul {
    margin: 0;
    padding: 0;
    display: inline;
}

.menu-ul li {
    font-size: 17px;
    list-style: none;
    display: inline-block;
    padding: 25px 25px 26px 25px;
}

.a-menu{
    text-decoration: none;
    color: #fff;
}

.menu-ul li:hover{
    background:  #8839ac;
    transform: scale(1.1);
}

.search-box{
    border: 1px solid #fff;
    border-radius: 50px;
    background: #fff;
    width: max-content;
    display: inline-block;
    margin: 8px;
}

.search-box:hover{
    box-shadow: 0 0 10px 2px #6a2d86;
    border: 1px solid #6a2d86;
}

.search-input{
    width: 250px;
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent;
    margin: 15px 0 0 10px;
}

i{
    font-size: 20px;
    margin: 10px;
}

button{
    background: transparent;
    border: none;
    outline: none;
}

/*-----------------------------------------------Contenedor principal-------------------------*/

.contenedor-principal{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.cont-licuadora{
    width: 100%;
    margin: auto;
    height: 400px;
    border: 1px solid red;
    background-color: #ffffd7;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fbfbf4' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");;
}

/*---------------------------------------------------------------Licuados imagenes----------------*/

.cont-variedad{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    border: 1px solid green;
}



.cont-todos-licuados{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid blue;
  
}

img{
    width: 300px;
    height: 300px;
}



.nombre-categoria{
    margin-top: 100px;
    margin-bottom: 50px;
}


